{% extends 'base.html' %}
{% block title %}Список оценок{% endblock %}
{% block content %}
<h1>Список оценок</h1>
<a href="{% url 'grade_create' %}" class="btn btn-primary">Создать оценку</a>
<table class="table">
  <thead>
    <tr>
      <th>Студент</th>
      <th>Предмет</th>
      <th>Оценка</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for grade in grades %}
    <tr>
      <td>{{ grade.student.name }}</td>
      <td>{{ grade.subject.name }}</td>
      <td>{{ grade.grade }}</td>
      <td>
        <a href="{% url 'grade_update' grade.pk %}" class="btn btn-warning">Редактировать</a>
        <a href="{% url 'grade_delete' grade.pk %}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}