{% extends 'base.html' %}
{% load static %}

 {% block title %}Система учета успеваемости{% endblock %}
 {% block content %}
     <link rel="stylesheet" href="{% static 'university/styles.css' %}">
 <h1>Добро пожаловать в систему учета успеваемости</h1>
 <ul>
     <li><a href="{% url 'student_list' %}">Список студентов</a></li>
     <li><a href="{% url 'subject_list' %}">Список предметов</a></li>
     <li><a href="{% url 'grade_list' %}">Список оценок</a></li>
     <li><a href="{% url 'best_students' %}">Лучшие студенты</a></li>
     <li><a href="{% url 'worst_students' %}">Худшие студенты</a></li>
     <li><a href="{% url 'subject_average' %}">Средний балл по предметам</a></li>
 </ul>
 {% endblock %}